/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ---TEXT INFO--- */
body {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  margin-bottom: 0;
}
h1 {
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  margin-top: 200px;
  margin-bottom: 1px;
  font-size: 50px;
}
h2{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 15px 20px;
  text-shadow: 2px 2px 7px black;
  color: rgb(0, 212, 255);
  padding-top: 10px;
}
.h2-white{
  text-shadow: 0 0 0 white;
}
.p-white {
  margin: 0 19px 0 19px;
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 7px black;
  line-height: 25px;
}
.p-black {
  margin: 15px 19px 10px 19px;
}
/* ---MAIN PAGE ELEMENTS--- */
.landing {
  background: url("img/1.jpg");
  position: fixed;
  -webkit- background-size: cover;
  height: 100vh;
}
.logo{
  margin: 200px 15px 2px 15px;
  -webkit-filter: drop-shadow( 2px 2px 7px black );
  -moz-filter: drop-shadow( 2px 2px 2px 7px #000 );
}
.exhibit {
  background-image: url("img/3.jpg");
  position: fixed;
  background-position: center;
  -webkit- background-size: cover;
  height: 100vh;
}
.headnav ul {
  padding: 0px;
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: rgb(0, 212, 255);
  text-shadow: 2px 2px 7px black;
  padding: none;
  margin: 1px;
  display: block;

}
/* ---MAP AND CONTACT INFO--- */
.map {
  width: 335px;
  display: block;
  margin: 0 auto;
  padding: 15px 0 0 0;
}
hr {
  width: 85px;
}
.columns{
  display: block;
  width: 330px;
  margin: 0 auto;
}
.column-1{
  display: inline-block;
  width: 135px;
  margin-left: 0;
}
.column-2{
  display: inline-block;
  width: 135px;
  margin-left: 15px;
}
/* ---TICKETS AND FOOTER--- */
.tickets{
  background: url("img/2.jpg");
  height: 280px;
  background-size: cover;
  margin-bottom: 0;
  display: block;
}
button {
  display: block;
  width: 230px;
  background: rgb(0, 212, 255);
  color: black;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 30px;
  margin: 0 auto;
  padding: 10px 4px 10px 4px;
}
button.hover {
  background: rgb(0, 230, 255);
}
footer{
  background-color: black;
  text-align: center;
  margin: 0 auto;
}












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 585px) {
/* ---TEXT INFO--- */
.p-white {
  font-size: 21px;
  line-height: 30px;
}

/* ---MAIN PAGE ELEMENTS--- */


/* ---MAP AND CONTACT INFO--- */


/* ---TICKETS AND FOOTER--- */


}

@media only screen and (min-width:1024px) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
